@keyframes throw-1 {
  0% {
    margin-top: -51%;
  }
  75% {
    margin-top: 0%;
  }
  88% {
    margin-top: -2%;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes throw-2 {
  0% {
    margin-top: -51%;
  }
  74% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  75% {
    margin-top: 0%;
    transform-origin: 25% 81%;
    transform: rotate(-5deg);
  }
  88% {
    margin-top: -2%;
    transform-origin: 80% 81%;
    transform: rotate(5deg);
  }
  100% {
    margin-top: 0%;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
}

@keyframes throw-3 {
  0% {
    margin-top: 0%;
  }
  60% {
    margin-top: -51%;
  }
  94% {
    margin-top: 0%;
  }
  97% {
    margin-top: -1%;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes throw-4 {
  0% {
    transform: rotate(30deg) scale(1);
  }
  60% {
    transform: rotate(250deg) scale(1.2);
  }
  100% {
    transform: rotate(390deg) scale(1);
  }
}
