// Configuration: http://eslint.org/docs/user-guide/configuring
{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": false,
    "commonjs": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": [
    "airbnb"
  ],
  // Override default options for rules from base configurations.
  "rules": {
    "react/prefer-stateless-function": "warn"
  }
}
