@import './animate-dice';
@import './dice-wrapper';

.dice {
  position: relative;
  min-width: 5em;
  height: 5em;
  margin: 1.5em;
  background-color: #b1a592;
  border: 1px solid #9b8b59;
  border-radius: 7%;
  display: flex;
  transform: rotate(30deg);
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  z-index: 1;

  // Rolling animation.
  &.thrown {
    animation-name: thrown;
  }
}

.rolling-enter {
  opacity: 0.01;
}

.rolling-enter.rolling-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.rolling-leave {
  opacity: 1;
}

.rolling-leave.rolling-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}