@import './animate-dice-shadow';

.dice-shadow {
  position: absolute;
  display: block;
  width: 5em;
  height: 5em;
  margin: 1.5em;
  left: 0.4em;
  top: 1.2em;
  transform: rotate(30deg) scale(0.9);
  background-color: rgba(0, 0, 0, .2);
  box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, .3);
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  z-index: 0;

  &.throw4 {
    animation-name: throw-4-shadow;
  }
}