// Main dice container.
@import './scss/animate-dice';
@import './scss/dice-wrapper';

// Dice face.
@import './scss/dice-face';
@import './scss/dice-dot';

// Dice shadow.
@import './scss/animate-dice-shadow';
@import './scss/dice-shadow';

.dice {
  position: relative;
  min-width: 5em;
  height: 5em;
  margin: 1.5em;
  background-color: #b1a592;
  border: 1px solid #9b8b59;
  border-radius: 7%;
  display: flex;
  transform: rotate(30deg);
  animation-duration: .7s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  z-index: 1;

  // Rolling animation.
  &.thrown {
    animation-name: thrown;
  }
}
