@keyframes throw-1 {
  0% {
    margin-top: -51%;
  }
  75% {
    margin-top: 0%;
  }
  88% {
    margin-top: -2%;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes throw-2 {
  0% {
    margin-top: -51%;
  }
  74% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
  75% {
    margin-top: 0%;
    transform-origin: 25% 81%;
    transform: rotate(-5deg);
  }
  88% {
    margin-top: -2%;
    transform-origin: 80% 81%;
    transform: rotate(5deg);
  }
  100% {
    margin-top: 0%;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }
}

@keyframes throw-3 {
  0% {
    margin-top: 0%;
  }
  60% {
    margin-top: -51%;
  }
  94% {
    margin-top: 0%;
  }
  97% {
    margin-top: -1%;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes throw-4 {
  0% {
    transform: rotate(30deg) scale(1);
  }
  60% {
    transform: rotate(250deg) scale(1.2);
  }
  100% {
    transform: rotate(390deg) scale(1);
  }
}

@keyframes throw-4-shadow {
  0% {
    transform: rotate(30deg) scale(0.9);
    left: 0.4em;
    top: 1.2em;
  }
  60% {
    transform: rotate(250deg) scale(0.8);
    left: 3.4em;
    top: 4.5em;
  }
  100% {
    transform: rotate(390deg) scale(0.9);
    left: 0.4em;
    top: 1.2em;
  }
}

body {
  background-color: cadetblue;
}

body,
#main-wrapper,
#main-wrapper-shadows,
#results,
#games-menu {
  position: absolute;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.dice {
  position: relative;
  width: 5em;
  height: 5em;
  margin: 1.5em;
  background-color: #b1a592;
  border: 1px solid #9b8b59;
  border-radius: 7%;
  display: flex;
  transform: rotate(30deg);
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.dice-shadow {
  position: relative;
  display: block;
  width: 5em;
  height: 5em;
  margin: 1.5em;
  left: 0.4em;
  top: 1.2em;
  transform: rotate(30deg) scale(0.9);
  background-color: rgba(0, 0, 0, .2);
  box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, .3);
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  z-index: 0;
}

.dice.throw1 {
  animation-name: throw-1;
}

.dice.throw2 {
  animation-name: throw-2;
}

.dice.throw3 {
  animation-name: throw-3;
}

.dice.throw4 {
  animation-name: throw-4;
}

.dice-shadow.throw4 {
  animation-name: throw-4-shadow;
}

.dice-face {
  position: relative;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
  border-radius: 20%;
  box-shadow: inset 0 0 0.3em 0.01em #92855a;
}

.dice-dot {
  position: relative;
  flex: 1;
  width: 50%;
  text-align: center;
}

.dice-dot:after {
  content: "";
  position: relative;
  display: block;
  margin: 0 auto;
  width: .8em;
  height: .8em;
  background-color: #31483c;
  border-radius: 50%;
  box-shadow: inset 0.1em 0.1em 0.3em 0.05em rgba(196, 198, 157, 0.3);
}

.dot-1-1:after {
  background-color: transparent;
  border-radius: 0%;
  box-shadow: none;
  width: 3em;
  height: 3em;
  background-image: url(img/jolly.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* fixes */

.dots-2,
.dots-3 {
  margin: 0.45em auto;
}

.dot-1-2,
.dot-1-3 {
  align-self: flex-start;
}

.dot-2-2,
.dot-3-3 {
  align-self: flex-end;
}

.dot-2-3 {
  align-self: center;
}

.dots-4 {
  flex-basis: 40%;
}

.dot-3-5 {
  flex-basis: 100%;
}

.dots-6 {
  flex: initial;
}

#results {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#game-result,
#results-pool {
  display: block;
  text-align: center;
  margin: -4em;
  width: 2.5em;
  height: 1.1em;
  line-height: 0.95em;
  font-size: 2em;
  font-weight: 900;
  font-family: serif;
  color: white;
  text-shadow: -1px -1px #1d3030, 1px 1px #2f4f4f;
  border-top: 0.08em solid #1d3030;
  border-bottom: 0.06em solid #77bebe;
  box-sizing: border-box;
  background-color: darkslategrey;
  border-radius: 1.1em;
  transition: 0.2s margin 0.4s ease-in;
}

#game-result {
  margin: 0.5em;
}
/* probisional UI toggle - need to decide which elements will be added when body:hover */
/*body:hover #game-result,*/

body:hover #results-pool {
  transition: 0.2s margin 0.3s ease-out;
  margin: 0.5em;
}

#results-pool {
  width: 80%;
  height: 2.2em;
  line-height: 1.9em;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: 100;
  min-width: 460px;
  max-width: 600px;
  border-top: 0.16em solid #1d3030;
  border-bottom: 0.12em solid #77bebe;
  border-radius: 2.2em;
  overflow: hidden;
}

#games-menu {
  position: relative;
  width: 80%;
  max-width: 400px;
  height: 80%;
  max-height: 350px;
  background-color: rgba(198, 170, 4, 0.96);
  border: 1em outset rgba(109, 81, 0, 0.86);
  overflow: visible;
  transition: transform 1s easein;
}

#games-menu.close {
  width: 0;
  height: 0;
  overflow: hidden;
}

#games-menu ul {
  padding: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: baseline;
}

#games-menu li {
  position: relative;
  flex: 1;
  flex-grow: 3;
  padding: 0 0 0 14%;
  width: 86%;
  font-style: italic;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 0.07em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  text-align: left;
  text-shadow: 1px 1px 1px #e7d406, 0px 1px 3px black;
  color: #483701;
  border-bottom: 1px solid transparent;
}

#games-menu li:hover {
  background-color: #ffffff94;
  text-shadow: none;
  box-shadow: 0 0 1em 0.01em #ffffff85;
  border-bottom: 1px solid #d2d21a;
  color: #795c00;
}

#games-menu li:before,
#games-menu li:after {
  position: absolute;
  content: '';
  color: #edcf0d;
}

#games-menu li:before {
  left: -2em;
}

#games-menu li:after {
  left: 100%;
  margin-left: 1em;
}

#games-menu li:hover:before {
  content: '\27a2';
}

#games-menu li:hover:after {
  content: '\27a2';
  transform: scale(-1, 1);
}